﻿<div class="jumbotron">
    <h1>SnapFarm</h1>
    <p class="lead">A photo diagnostic tool that helps farmers diagnose pests, diseases and malnutrition in crops.</p>
    <p><a href="http://snapfarm.co.ke" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>App</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="http://snapfarm.co.ke">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Diagnosis</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="http://snapfarm.co.ke">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Live Data</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="http://snapfarm.co.ke">Learn more &raquo;</a></p>
    </div>
</div>
